.author-spotlight {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    margin-left: 5rem;
  }
  .authors-page h2{
    text-align: center;
  }
  .author-spotlight img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 1rem;
  }
  
  .featured-authors {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
    border-bottom: 1px solid black;
  }
  
  .featured-authors li {
    list-style: none;
    text-align: center;
  }
  
  .featured-authors img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 0.5rem;
  }
  
  .author-list {
    list-style: none;
    padding: 0;
  }
  .authors-page h1{
    text-align: center;
  }
  #firstp{
    text-align: center;
    border-bottom: 1px solid black;
  }
  .author-list li {
    margin-bottom: 0.5rem;
  }
  
  .author-list a {
    text-decoration: none;
    color: #333;
  }
  
  .author-list a:hover {
    text-decoration: underline;
  }
  footer {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
  }
  
  .footer-content {
    max-width: 600px;
    margin: 0 auto;
  }
  
  footer h3 {
    margin-bottom: 10px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-top: 10px;
    font-weight: bold;
  }
  
  input, textarea {
    margin-top: 5px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  